{{!--  width=160 height=160

  
  <div class="blog-post">
      <div class="blog-header">
        <img src="../images/blog/blog-post2.jpg" alt="">
        <div class="blog-header__title">
          <h1>Forum like app made easy with node!</h1>
          <p>by Damjan Radev</p>
        </div>
      </div>
  </div>
  
</div> --}}
<link rel="stylesheet" href="styles/site/blog.css">
<div class="blog-wrapper">
  {{!-- <h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4> --}}
  <div class="blog">
    {{# each data.posts.results}}
    <div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="blog-post">
      <a href="{{postUrl slug}}">
        <div class="blog-header">
          {{#if image}}<img src="{{{cloudinaryUrl image crop='fit' }}}">{{/if}}
          <div class="blog-header__title">
            <h1>{{{title}}}</h1>
            <p>{{{categoryList categories prefix="Posted in "}}}
            {{#if author.name.first}}by {{author.name.first}}{{/if}}</p>
          </div>
        </div>
      </a>
      <div class="blog-content">
        <p>{{{content.brief}}}</p>
        {{#if content.extended}}<a class="read-more" href="{{postUrl slug}}">Read more...</a>{{/if}}
      </div>
    </div>
    {{/each}}
  </div>

  <div class="categories">
    <h1 class="categories-title">Categories</h1>
    <ul class="categories-list">
      {{# each data.categories }}
      <li class="categories-list__item">
        <a href="{{categoryUrl key}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>  
