{{!< default}}

<link rel="stylesheet" href="/styles/site/main.css">
<div class="hero">
  <div class="hero-area">
    <div class="hero-text">
      <h1 class="hero-text__title">Hey I'm <span>Damjan Radev</span></h1>
      <div class="text-typer">
        <p>I'm a <span class="typer" data-delay="150" data-words="Fullstack,JavaScript,React.js,Node.js" data-colors="red,orange,#039dfc,green"></span> Web Developer.</p>
        <span class="cursor" data-owner="first-typer"></span>
      </div>
      <p class="hero-text__paragraph">Helping small businesses get their website up and running, and increase their presence online.</p>        
    </div>
    <div class="profile-image-container">
      <img src="images/damjan.jpg" alt="" class="profile-image">
    </div>
  </div>
  <button class="view-portfolio--cta">View Porfolio</button>
</div>
<div id="portfolio">
    
  <!-- <h1 id="porfolio-title">My porfolio</h1> -->
  <ul class="portfolio-list">
    {{#each portfolios}}
      <a class="portfolio-list__item" href="{{portfolioUrl slug}}">
        <li >
          <h2>{{{title}}}</h2>
          
          <div class="bg-image">{{#if image}}<img src="{{{cloudinaryUrl image crop="fit" }}}" alt=""> {{/if}}</div>
          {{!-- {{{description}}} --}}
          <p class="technologies-used">Technologies used: {{{technologies}}}</p>
        </li>  
      </a>
    {{/each}}  
  </ul> 
</div>
<div class="about-me__wrapper">
  <div class="about-me">
    <h1 class="about-me__title">About me</h1>
    <p class="about-me__paragraph">Helping start-ups, small businesses, and agencies achieve high quality websites and exceptional user experience. With a focus on backend with node, and react as a frontend, you will be sure that your application has a quick and responive feel.</p>
  </div>
  <div class="skills">
    <h1 class="skills-title">My skill set</h1>
    <ul class="skills-list">
      <li class="skills-list__item">
        <h3>Node.Js</h3>
        <div>
          <meter min="0" low="10" optimum="50" high="90" max="100" value="80"></meter>
          
        </div>
      </li>
      <li class="skills-list__item">
        <h3>React.Js</h3>
        <div>
          <meter min="0" low="10" optimum="50" high="90" max="100" value="60"></meter>
          
        </div> 
      </li>
      <li class="skills-list__item">
        <h3>CSS</h3>
        <div>
          <meter min="0" low="10" optimum="50" high="90" max="100" value="70"></meter>
          
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="contact-info">
  <h2>My social media profiles</h2>
  <ul>
    <li><a href="https://github.com/dameradev" target="_blank" ><i class="fa fa-github" > GitHub</i></a></li>
    <li><a href="https://twitter.com/dameradev" target="_blank" ><i class="fa fa-twitter" > Twitter</i></a></li>
    <li><a href="https://www.linkedin.com/in/damjan-radev-628120145/" target="_blank" ><i class="fa fa-linkedin" > LinkedIn</i></a></li>
  </ul>
</div>
{{!-- <script src="js/textTypeEffect.js"></script> --}}
<script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>