<div class="container">
  <h1>dame</h1>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">

        {{{portfolios.length}}}
        {{#each portfolios}}
          <div class="col-md-4 col-lg-4">
            <h2><a href="{{portfolioUrl slug}}">{{{title}}}</a></h2>
            {{#if image}}
              <img src="{{{cloudinaryUrl image crop="fit" width=160 height=160}}}" class="thumbnail" alt="">        
            {{/if}}
            {{{description}}}
            
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
