<link rel="stylesheet" href="/styles/site/post.css">
<link rel="stylesheet" href="/themes/prism.css">
<main>
  <article>
    <header>
      <p><a href="/blog">&larr; back to the blog</a></p>
      <h1>{{data.post.title}}</h1>
      <h5>
        {{{categoryList data.post.categories prefix="Posted in "}}}
        {{#if author.name.first}}by {{author.name.first}}{{/if}}
      </h5>
    </header>
    <div class="post">
      {{#if data.post.image}} <div class="image"> <img src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}"></div>{{/if}}
      {{{data.post.content.extended}}}
    </div>
  </article>
</main>


<script src="/js/prism.js"></script>